<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fuel Consumption</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="car" color="gpsc" style="font-size: 1.5em"></ion-icon>
        </ion-col>
        <ion-col col-5 style="font-size: 1.2em;">MH12 AD 4534</ion-col>
        <ion-col col-5 style="text-align: right;">
          <ion-badge color="gpsc" style="font-size: 1.2em;">5 liters</ion-badge>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block outline>November 5, 1955</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block outline>AMT 500INR</button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-fab right bottom>
  <button ion-fab color="gpsc" (click)="toggleFooter()">
    <ion-icon name="add" *ngIf="footerState == 0"></ion-icon>
    <ion-icon name="close" *ngIf="footerState == 1"></ion-icon>
  </button>
</ion-fab>

<ion-pullup #pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" [(state)]="footerState">
  <ion-content>
    <ion-row padding>
      <ion-col style="text-align: center; font-size: 15px">Add Entry</ion-col>
    </ion-row>

    <ion-item>
      <ion-label>Select Vehicle</ion-label>
      <ion-select [(ngModel)]="vehName">
          <ion-option *ngFor="let veh of portstemp" [value]="veh.Device_Name" (ionSelect)="onChnageEvent(veh)">{{veh.Device_Name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Liter(s)</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Amount</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-input type="date" style="float:right"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col text-center>
        <button ion-button block color="gpsc" (click)="submit()">
          Submit
        </button>
      </ion-col>
    </ion-row>

  </ion-content>
</ion-pullup>