page-vehicle-details {
    .itemStyle {
        .item-ios,.item-md {
            padding: 0px !important;
        }
        .label-ios,.label-md {
          margin: 0px !important;
        }
        .item-ios.item-block .item-inner,.item-md.item-block .item-inner {
         padding: 0px !important;
         margin: 0px !important;
        }  
    }
    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        padding-right: 0px;
        // border-bottom: 1px solid #dedede;
    }
    .overme {
        padding-top:8px;
        padding-right: 2px;
        width: 200px;
        line-height: normal;
        overflow:hidden; 
        font-size: 0.75em;
        color: white;
        white-space:nowrap; 
        text-overflow: ellipsis;
     }
     
    .overme {
        white-space: normal;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .colSt1{
        height:5rem; 
        background-image: linear-gradient(to left bottom, #d80622, #c0002d, #a60033, #8b0935, #6f1133);
        padding: 0px;
        text-align: center;
        position:relative;
    }

   .colSt2{
        height:5rem; 
        width:80%; 
        padding: 0px;
    }
    .colSt3{
        padding-top: 8px;
        padding-right: 8px;
        ion-icon {
            color: white;
            font-size: 1.7em;
        }
    }
    .colSt4 {
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
        // text-align: center;
        ion-icon{
            color: black;
            font-size: 1.7em;
        }
    }
    // .chartjs-tooltip-key {
    //     border-radius: 5px;
    // }
    // #doughnutCanvas {
    //     width: 500px;
    //     height: 500px;
    // }
    
}