<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fuel Report</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

</ion-content>