<ion-header>
    <ion-navbar>
        <ion-title>Update Vehicle Details</ion-title>
        <ion-buttons end>
            <button ion-button ion-only (click)="dismiss()">
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <form [formGroup]="updatevehForm">
        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Registration Number*</ion-label>
            <ion-input formControlName="device_name" type="text" style="margin-left: 2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatevehForm.controls.device_name.valid && (updatevehForm.controls.device_name.dirty || submitAttempt)">
            <p>registration number is required!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">IMEI ID*</ion-label>
            <ion-input formControlName="device_id" type="text" style="margin-left: 2px;" readonly></ion-input>
        </ion-item>
        <!-- <ion-item class="logitem1" *ngIf="!updatevehForm.controls.device_id.valid && (updatevehForm.controls.device_id.dirty || submitAttempt)">
            <p>imei id is required!</p>
        </ion-item> -->

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Driver Name</ion-label>
            <ion-input formControlName="driver" type="text" style="margin-left: 2px;"></ion-input>
        </ion-item>
        <!-- <ion-item class="logitem1" *ngIf="!updatevehForm.controls.driver.valid && (updatevehForm.controls.driver.dirty || submitAttempt)">
            <p>driver name is required!</p>
        </ion-item> -->

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Sim Number*</ion-label>
            <ion-input formControlName="sim_number" type="number" maxlength="13" minlength="10" style="margin-left: 2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatevehForm.controls.sim_number.valid && (updatevehForm.controls.sim_number.dirty || submitAttempt)">
            <p>sim number is required & sould be 10 or 13 digits!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Mobile Number</ion-label>
            <ion-input formControlName="contact_number" type="number" maxlength="10" minlength="10" style="margin-left: 2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatevehForm.controls.contact_number.valid && (updatevehForm.controls.contact_number.dirty || submitAttempt)">
            <p>mobile number sould be 10 digits!</p>
        </ion-item>

        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Speed Limit*</ion-label>
            <ion-input formControlName="SpeedLimit" type="number" style="margin-left: 2px;"></ion-input>
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatevehForm.controls.SpeedLimit.valid && (updatevehForm.controls.SpeedLimit.dirty || submitAttempt)">
            <p>speed limit is required!</p>
        </ion-item>


        <ion-item>
            <ion-label fixed style="min-width: 50% !important;">Expire On*</ion-label>
            <ion-input type="date" formControlName="ExipreDate" min="{{minDate}}" style="margin-left: 2px;"></ion-input>
            <!-- <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" formControlName="ExipreDate" style="margin-left: -7px;"></ion-datetime> -->
        </ion-item>
        <ion-item class="logitem1" *ngIf="!updatevehForm.controls.ExipreDate.valid && (updatevehForm.controls.ExipreDate.dirty || submitAttempt)">
            <p>exipre date is required!</p>
        </ion-item>

        <ion-item>
            <ion-label>Device Model</ion-label>
            <ion-select formControlName="device_type" style="min-width:49%;">
                <ion-option *ngFor="let deviceModelname of deviceModel" [value]="deviceModelname.device_type" (ionSelect)="deviceModelata(deviceModelname)">{{deviceModelname.device_type}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Group</ion-label>
            <ion-select formControlName="gName" style="min-width:49%;">
                <ion-option *ngFor="let groupname of allGroup" [value]="groupname.name" (ionSelect)="GroupStatusdata(groupname)">{{groupname.name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Select User</ion-label>
            <ion-select formControlName="first_name" style="min-width:49%;">
                <ion-option *ngFor="let user of selectUser" [value]="user.first_name" (ionSelect)="userselectData(user)">{{user.first_name}}</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Vehicle Type</ion-label>
            <ion-select formControlName="brand" style="min-width:49%;">
                <ion-option *ngFor="let veh of allVehicle" [value]="veh.brand" (ionSelect)="vehicleTypeselectData(veh)">{{veh.brand}}</ion-option>
            </ion-select>
        </ion-item>
    </form>

</ion-content>

<ion-footer class="footSty">
    <ion-toolbar>
        <ion-row>
            <ion-col style="text-align: center;">
                <button ion-button clear color="light" (click)="updateDevices()">UPDATE VEHICLE DETAILS</button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>