<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <form class="form" [formGroup]="contactusForm">
    <p type="Name:">
      <input formControlName="name" type="text" placeholder="Write your name here.." />
    </p>
    <span class="span"
      *ngIf="!contactusForm.controls.name.valid && (contactusForm.controls.name.dirty || submitAttempt)">Name is
      required and should be in valid format!</span>
    <p type="Email:">
      <input formControlName="mail" type="email" placeholder="Let us know how to contact you back.." />
    </p>
    <span class="span"
      *ngIf="!contactusForm.controls.mail.valid && (contactusForm.controls.mail.dirty || submitAttempt)">Email id is
      required and should be in valid format!</span>
    <p type="Mobile Num.:">
      <input formControlName="mobno" type="number" maxlength="10" minlength="10"
        placeholder="Let us know how to contact you back via mobile number.." />
    </p>
    <span class="span"
      *ngIf="!contactusForm.controls.mobno.valid && (contactusForm.controls.mobno.dirty || submitAttempt)">Mobile number
      is required and should be in 10 digits format!</span>
    <p type="Message:">
      <textarea rows="2" cols="50" formControlName="note" placeholder="What would you like to tell us.."></textarea>
    </p>
    <span class="span"
      *ngIf="!contactusForm.controls.note.valid && (contactusForm.controls.note.dirty || submitAttempt)">please write
      your message!</span>
    <ion-row style="padding-bottom: 20px;">
      <ion-col col-12><button (tap)="contactUs()" class="buttonclass">Send Message</button></ion-col>
    </ion-row>

    
  </form>
</ion-content>
